{% if podcasting_current_episode %}
    <div class="podcast-episode mod">
        <h2>{{ podcasting_current_episode.title }}</h2>
        <div class="meta">
            <span class="date">
                {{ podcasting_current_episode.published|date:"F j, Y" }}
            </span>
            {% for enclosure in podcasting_current_episode.enclosure_set.all %}
                {% if enclosure.mime == 'mp3' %}
                    <span class="sep">
                        <a href="{{ enclosure.url }}" class="tiptip download"
                            title="to download right click and select 'save link as'">
                            Download / Stream
                        </a>
                    </span>
                {% endif %}
            {% endfor %}
            {% if podcasting_current_episode.tracklist %}
                <span class="sep">
                    <a href="#tracklist" rel="facebox" class="list">Tracklist</a>
                </span>
                <div id="tracklist" class="hidden">
                    <h3>{{ podcasting_current_episode.title }} :: Tracklist</h3>
                    <div class="tracklist">
                        {{ podcasting_current_episode.tracklist|linenumbers|linebreaksbr }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="episode-details">
            <a href="{{ podcasting_current_episode.img_episode_lg.url }}" rel="facebox" class="episode-thumb">
                <img src="{{ podcasting_current_episode.img_episode_sm.url }}"
                    alt="{{ podcasting_current_episode.img_episode_sm.name }}"
                    width="{{ podcasting_current_episode.img_episode_sm.width }}"
                    height="{{ podcasting_current_episode.img_episode_sm.height }}"
                    class="left" />
            </a>
            <h6>{{ podcasting_current_episode.subtitle }}</h6>
            {% if podcasting_current_episode.description %}
                <p><a href="#details" rel="facebox">read more</a></p>
                <div id="details" class="hidden">
                    <div>{{ podcasting_current_episode.description }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <h2 class="coming-soon">Coming soon...</h2>
{% endif %}