<div class="podcast-show-list">
    <h2>Podcast Show List</h2>

    {% for show in show_list %}
        <div class="podcast-show">
            <h3>{{ show.title }}</h3>
            <a href="{{ show.img_show_lg.url }}" rel="facebox">
                <img src="{{ show.img_show_sm.url }}" alt="" class="left" />
            </a>
            <h4>{{ show.subtitle }}</h4>
            <p><a href="{{ show.link }}">{{ show.link }}</a></p>
            <div class="show-description">{{ show.description }}</div>
        </div>
    {% empty %}
        <h2>There are no shows.</h2>
    {% endfor %}
</div>